<footer>
    <div class="foot-box">
        <div class="available-modes">
            <h4>Available Modes</h4>
            <p><strong>In India:</strong> Available Offline & Online || <strong>Outside India:</strong> Available Online
            </p>

        </div>
        <div class="footer-box">
            <div class="footer-container">
                <h4>Services</h4>
                <p>Government</p>
                <p>School Education</p>
                <p>Higher Education</p>
                <p>Vocational Education</p>
                <p>Career Counselling & Guidance</p>
                <p>Psychometric Assessments</p>
                <p>Profile Building</p>
            </div>
        
            <div class="footer-container">
                <h4>Quick Links</h4>
                <p>Testimonials</p>
                <p>Blogs</p>
                <p>Resources</p>
                <p>Career Tests</p>
                <p>Job Placement Assistance</p>
            </div>
        
            <div class="footer-container">
                <h4>Company</h4>
                <p>About Us</p>
                <p>Contact Us</p>
                <p>Partnership With Us</p>
                <p>Jobs</p>
            </div>
        
            <div class="footer-container">
                <h4>Policies</h4>
                <p>Terms of Use</p>
                <p>Privacy Notice</p>
                <p>Cookie Policy</p>
                <p>Customize Cookies</p>
                <p>Usage Policies</p>
            </div>
        
            <div class="footer-container">
                <h4>Find Us On</h4>
                <div class="social icons">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
                <br>
                <h4>Reach Us</h4>
                <p>📞 +91 9600983942</p>
                <p>📧 yamina@gmail.com</p>
            </div>
        </div>
        

        <div class="payment-methods">
            <h4>Payment Methods</h4>
            <br>
            <div class="payment-logos">
                <img src="Paytm_Logo.png" alt="Paytm">
                <img src="VISA-Logo.png" alt="Visa">
                <img src="gpay-logo.png" alt="Google Pay">
                <img src="razorpay-logo.png" alt="Razorpay">
                <img src="mastercard-logo.png" alt="MasterCard">
                <img src="neft-logo.png" alt="NEFT">
                <img src="imps-logo.png" alt="IMPS">
            </div>
        </div>
        
        <p class="copy">Built with ❤️ in India</p>
        <p class="copy">&copy; 2025 AspireHub Private Limited | All Rights Reserved.</p>
    </div>
</footer>