
<nav class="navbar">
    <div>
        <img src="logo.jpg" alt="logo" width="50px" height="50px">
    </div>

    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search..." class="input">
        <i class="fa fa-search search-icon"></i>
    </div>

    <div class="icon">
       
        <!-- <i class="fa fa-download" aria-hidden="true"></i> -->
        <!-- <i class="fa fa-user-circle" aria-hidden="true"></i> -->
        <a href="https://play.google.com/store/games?device=windows"><button type="button" class="btn btn-primary"><i class="fa-solid fa-circle-arrow-down"></i>Install App</button></a>
        <a href="login"><button type="button" class="btn btn-primary"><i class="fa-solid fa-user"></i>Login</button></a>
        <i id="fa-toggle-on"class="fa-solid fa-toggle-on"></i>
    </div>
    
</nav>
<nav class="navbarCategories">
    <ul>
        <li><a href="ejshome">HOME</a></li>
        <li><a href="about">ABOUT US</a></li>
        <li><a href="resource">RESOURCES</a></li>
        <!-- <li><a href="hscGuidance">CAREER GUIDANCE</a></li> -->
        <div class="dropdown">
            <a class="btn btn-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                CAREER GUIDANCE
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="sslcGuidance">8-10 class</a></li>
              <li><a class="dropdown-item" href="hscGuidance">11-12 class</a></li>
            </ul>
          </div>
        <li><a href="contact">CONTACT US</a></li>
    </ul>
</nav>